.jumbotron {
  padding-top: 6rem;
  background-color: #cef9ff;
}

#syarat {
  padding-top: 5rem;
}

#calon {
  padding-top: 5rem;
  background-color: #cef9ff;
}

#voting {
  padding-top: 1rem;
  padding-bottom: 5rem;
}
